.container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  background: rgb(214, 214, 214, 0.5);
  padding: 10px;
  border-radius: var(--radius);
  font-size: 20px;
}
form {
  font-family: Arial, sans-serif;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  background: var(--clr-primary-10);
  font-size: 18px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: var(--radius);
}
textarea {
  height: 20vh;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: var(--radius);
  transition: 1s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
