// project styles

.sections {
  display: flex;
  max-width: 100%;
}
.div-container {
  display: flex;
  max-width: 100%;
}

.section-container {
  display: grid;
  /* max-width: 95%; */
  margin: 0 auto;
  align-items: center;
}
.containers {
  display: flex;
  /* flex-wrap: wrap; */
}
.sections h1 {
  text-align: center;
  color: #cccccc;
  margin: 20px 0;
}
.box img {
  max-width: 100%;
}
.box {
  margin: 5px;
  max-width: 350px;
  background: var(--clr-primary-9);
}
.box-text h2 {
  font-size: 1.3rem;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 500px) {
  .box {
    margin: 5px auto;
  }
  .containers {
    margin: 5px auto;
    flex-direction: column;
  }
}
